html {
  font-family: 'Crimson Text', serif;
  font-size: 18;
  background-color: #ffc30b;
}

.title {
  font-size: 3em;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00b5ad;
  color: white;
  overflow: hidden;
  border-radius: 15px;
}

li .navbar{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: 'Crimson Text', serif;
}



li .navbar:hover{
background-color: #56c4bf;
}

.second{
  background-color: #56c4bf;
  list-style-type: none;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: 'Crimson Text', serif;
  border-radius: 15px;
}

article {
  -webkit-column-width: 200;
  -moz-column-width: 200;
  column-width: 200;
  column-count: 2;
  column-gap: 4em;
}

img {
  border: 1em solid #572900;
  border-radius: 15px;
}
